@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  background: linear-gradient(180deg, #020617 0%, #020617 100%);
  color: #e5e7eb;
  font-family: system-ui, -apple-system, BlinkMacSystemFont;
  -webkit-tap-highlight-color: transparent;
}

button {
  touch-action: manipulation;
}